
/* == Button Styles == */

#wpadminbar #wp-admin-bar-wpuxss-toolbar-publish-button .ab-icon {
	  margin-right: 2px !important;
}

#wpadminbar #wp-admin-bar-wpuxss-toolbar-publish-button .ab-icon:before {
    content: '\f147';
    font-size: 28px;
}



/* == Option Page Styles == */

#toolbar-publish-button-settings-wrap .postbox {
	background-image:none !important;	
	background-color:#fff !important;
}

#wpuxss-credit .author {
	font-style: italic;
	margin: 30px 0 0;
	padding: 10px 0 5px;
	border-top: 1px solid #e0e5e9;
}
#wpuxss-credit .logo-webbistro {
	font-style: italic;
	text-decoration: none;
}
#wpuxss-credit .icon-webbistro {
	font-family: 'webbistro';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
#wpuxss-credit h4 {
	margin: 20px 0 4px;
}
#wpuxss-credit p,
#wpuxss-credit ul {
	margin-top: 0;
}
#wpuxss-credit li {
	list-style: disc;
	margin-left: 1.4em;
}


.wpuxss_tpb_settings_list {
	margin: 20px 0 0;
	border-top: 1px solid #e0e5e9;
}
.wpuxss_tpb_settings_list li {
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #e0e5e9;
	border-radius: 3px;
}
.wpuxss_tpb_settings_list li label {
	display: inline-block;
	padding: 0 0 0 10px;
	overflow: hidden;
	width:92%;
	font-size: 14px;
}
.wpuxss_tpb_settings_list li label span {
	color: #8e959c;
	display: inline-block;
	font-size: 12px;
}
.wpuxss_tpb_settings_list li input[type="checkbox"] {
	vertical-align: top;
	margin: 3px 0 0;
}


@font-face {
	font-family: 'webbistro';
	src:url('../fonts/webbistro.eot');
	src:url('../fonts/webbistro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webbistro.woff') format('woff'),
		url('../fonts/webbistro.ttf') format('truetype'),
		url('../fonts/webbistro.svg#webbistro') format('svg');
	font-weight: normal;
	font-style: normal;
}