@charset "utf-8";
/* CSS Document */


#wpadminbar #wp-admin-bar-wpuxss-toolbar-publish-button > .ab-item .ab-icon {
	background-position: 0 0;
	background-image:url(toolbar-publish-button.png);
	margin: 6px 4px 0 0;
}
#wpadminbar #wp-admin-bar-wpuxss-toolbar-publish-button:hover > .ab-item .ab-icon {
	background-position: 0 -16px;
}

